<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">

      <div class="mt-4 mb-4 bg-light d-inline-block">
        <h4 class="px-2 pt-2">配送先編集</h4>
      </div>

      <%= form_with model: @address, url: shippings_path(@address.id), local: true do |f| %>
        <div class="row mx-2">
          <div class="col-md-10 mx-auto pb-4">

            <% if @address.errors.any? %>
              <div class="pb-2 text-danger">
                <ul>
                  <% @address.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group row">
              <p class="col-lg-3 pt-1">郵便番号</p>
              <%= f.text_field :postal_code, placeholder:"4001114", class: "form-control col-lg-6" %>
            </div>

            <div class="form-group row">
              <p class="col-lg-3 pt-1">住所</p>
              <%= f.text_field :address, placeholder:"山梨県甲府市打返 4-5-19", class: "form-control col-lg-6" %>
            </div>

            <div class="form-group row">
              <p class="col-lg-3 pt-1">宛名</p>
              <%= f.text_field :name, placeholder:"小沢時男", class: "form-control" %>
              <div class="col-lg-3 py-4 py-lg-0 text-center">
                <%= f.submit "変更内容を保存", class:"btn btn-success" %>
              </div>
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
