<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>
<%= form_with(model:@customer, url:admins_customer_path, local: true,method: :patch) do |f| %>
<table class="table">
    <tbody>
    <tr>
     <th>会員ID</th><th><%= @customer.id %></th>
    </tr>
    <tr>
     <th>氏名</th><th><%= f.text_field :last_name %><%= f.text_field :first_name %></th>
    </tr>
    <tr>
     <th>フリガナ</th><th><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></th>
    </tr>
    <tr>
     <th>郵便番号</th><th><%= f.text_field :postal_code %></th>
    </tr>
    <tr>
     <th>住所</th><th><%= f.text_field :addres %></th>
    </tr>
    <tr>
     <th>電話番号</th><th><%= f.text_field :phone_number %></th>
    </tr>
    <tr>
     <th>メールアドレス</th><th><%= f.text_field :email %></th>
    </tr>
    <tr>
     <th>会員ステータス</th><th><%= f.select :is_deleted, Customer.is_deleteds.keys.to_a, include_blank: true %></th>
     <%= f.submit '変更を保存' %>
    </tr>
    </tbody>
</table>
<% end %>
