<div class="admin-customers">
<h1>会員一覧</h1>
<% @customers.each do |costomer| %>
  <table class="admin">
      <thead>
       <tr>
        <th></th>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <td><%= customer.id %></td>
        <td><%= link_to admins_customer_path(customer.id) do %>
        <%= customer.last_name %>
        <%= customer.first_name %>
        <% end %>
        </td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted %></td>
       </tr>
      </tbody>
  </table>
<% end %>
</div>

<%= paginate @customers %>