<div class="admin-customers">
<h1>会員一覧</h1>
  <table class="admin">
      <thead>
       <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.id %></td>
        <td><%= link_to admins_customer_path(customer.id) do %>
        <%= customer.last_name %>
        <%= customer.first_name %>
        <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted == true%>
           <p><i class="fas fa-bullseye blue"></i>退会済</p>
          <% else %>
           <p><i class="fas fa-bullseye red"></i>有効</p>
          <% end %>
        </td>
       </tr>
       <% end %>
      </tbody>
  </table>
</div>
<div><%= paginate(@customers) %></div>

