<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h2 class=""><mark>注文情報入力</mark></h2>
    </div>
  </div>
  <div class="row mt-5">
    <%= form_with model:@order, url:confirm_path, method: :post,local: true do |f| %>
      <%= f.label :payment, "支払い方法" %>
      <br>
      <%= f.radio_button :payment,:クレジットカード,  checked: "checked" %>
      <%= f.label :payment, "クレジットカード" %>
      <br>
      <%= f.radio_button :payment, :銀行振込 %>
      <%= f.label :payment, "銀行振込" %>
      <br>

      <%= f.label :address, "お届け先" %>
      <br>

      <%= f.radio_button :address_option, 0, checked: "checked" %>
      <%= f.label :order_address, "ご自身の住所" %>
      <%= current_customer.postal_code %>
      <%= current_customer.address %>
      <br>
      <%= f.radio_button :address_option, 1 %>
      <%= f.label :order_address, "登録済住所から選択" %>

      <br>
      <%= f.radio_button :address_option, 2 %>
      <%= f.label :order_address, "新しいお届け先" %>
      <br>

      <%= f.label :postal_code, "郵便番号" %>
      <%= f.text_field :postal_code %>
      <br>

      <%= f.label :order_address, "住所" %>
      <%= f.text_field :order_address %>
      <br>

      <%= f.submit "確認画面へ進む" , class:"btn btn-primary" %>

    <% end %>
  </div>
</div>