<h1>商品一覧</h1>

<table class='table'>
 <thead>
 <tr>  
  <th>商品ID</th>
  <th>商品名 </th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>
 </tr>
</thead>
</div>
<% @items.each do |item| %>


 <tr>
  <th><%= item.id %></th>
  <th>
  <%= link_to admins_item_path(item.id) do %>
  <%= item.name %> 
  <% end %>
  </th>
  <th><%= item.price %></th>
  <th><%= item.genre_id %></th>
  <th><%= item.is_active %></th>
 </tr>
 <% end %>









