<div class="col-md-8 offset-md-2">
<h4 class="px-2 pt-2">商品一覧</h>
</div>
<div class="col-md-8 offset-md-2">
<table class='table'>
 <thead>
 <tr>  
  <th>商品ID</th>
  <th>商品名 </th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>
 </tr>
</thead>
</div>
<% @items.each do |item| %>


 <tr>
  <th><%= item.id %></th>
  <th>
  <%= link_to admins_item_path(item.id) do %>
  <%= item.name %> 
  <% end %>
  </th>
  <th><%= item.price %></th>
  <th><%= item.genre.name %></th>
  <th>
      <% if item.is_active == true %>
       <font color="green">販売中　
      <% else %>
       <font color="gray">販売中止
      <% end %>
  </th>
 </tr>
</div>
 <% end %>









