<div class="row">
<div class="col-md-7 offset-md-2">
 <h1 class="p-3 md-2 bg-light text-dark">商品一覧</h1>
</div>
<div class="col-md-1">
<%= link_to new_admins_item_path, method: :get do %>
<i class="fas fa-plus-circle fa-3x"></i>
<% end %>
</div>
</div>
<div class="row">
<div class="col-md-8 offset-md-2">
<table class='table'>
 <thead>
 <tr>  
  <th>商品ID</th>
  <th>商品名 </th>
  <th>税抜価格</th>
  <th>ジャンル</th>
  <th>ステータス</th>
 </tr>
</thead>
</div>
</div>
<% @items.each do |item| %>



 <tr>
  <th><%= item.id %></th>
  <th>
  <%= link_to admins_item_path(item.id) do %>
  <%= item.name %> 
  <% end %>
  </th>
  <th><%= item.price %></th>
  <th><%= item.genre.name %></th>
  <th>
      <% if item.is_active == true %>
       <font color="green">販売中　
      <% else %>
       <font color="gray">販売中止
      <% end %>
  </th>
 </tr>

 <% end %>
</table>
<div class="text-center">
 <ul class="pagination">
  <%= paginate(@items) %> 
 </ul>
</div>








