<h1>商品新規登録</h1>

<%= form_with model:@item,url: admins_item_path, method: :post, local:true do |f| %>
<!--<= form_for @item do |f| %>-->
<table>
  <thead>
    <tr>
  　  <th>商品画像</th>
  　  <th></th>
      <th><%= f.attachment_field :image %></th>
    </tr>
  </thead>
</table> 


<table>
  <thead>
    <tr>
  　  <th>商品名</th>
  　  <th></th>
      <th><%= f.text_field :name %></th>
    </tr>
  </thead>
</table>

<table>
  <thead>
    <tr>
  　  <th>商品説明</th>
  　  <th></th>
      <th><%= f.text_area :description %></th>
    </tr>
  </thead>
</table> 

<table>
  <thead>
    <tr>
  　 <th>ジャンル</th>
  　  <th></th>
      <th><%= f.select :genre_id, [["ケーキ", "1"], ["焼き菓子", "2"], ["プリン", "3"]], include_blank: "選択して下さい" %></th>
    </tr>
  </thead>
</table> 


<table>
  <thead>
    <tr>
  　  <th>税抜価格</th>
  　  <th></th>
      <th><%= f.text_field :price %>円</th>
    </tr>
  </thead>
</table> 

<table>
  <thead>
    <tr>
     <th>販売ステータス</th>  　
  　  <th></th>
      <th>
　　　 <%= check_box_tag :is_active, true %><%= label_tag :is_active, "販売中" %>
      </th>
      <th>
　　　<%= check_box_tag :is_active %><%= label_tag :is_active, "販売停止中" %>
      </th>
    </tr>
  </thead>
</table> 

  <%= f.submit '新規登録' %>

 <% end %>
 
