<div class="col-md-2 offset-md-2">
<h1>商品詳細</h1>
</div>
<div class="row">
    <div class="col-md-2 offset-md-2">
      <div class="form-group">  
        
        <table>
          <thead>
            <tr>
          　  <th></th>
              <th><%= attachment_image_tag @item, :image %></th>
            </tr>
          </thead>
        </table> 
     </div>
    </div>

<div class="col-md-5 offset-md-1">
  <div class="form-group">     
    <table>
      <thead>
        <tr>
      　  <th>商品名</th>
      　  <th></th>
          <th><%= @item.name %></th>
        </tr>
      </thead>
    </table>
    
    <table>
      <thead>
        <tr>
      　  <th>商品説明</th>
      　  <th></th>
          <th><%= @item.description %></th>
        </tr>
      </thead>
    </table> 
    
    <table>
      <thead>
        <tr>
      　 <th>ジャンル</th>
      　  <th></th>
          <th><%= @item.genre.name %></th>
        </tr>
      </thead>
    </table> 
    
    
    <table>
      <thead>
        <tr>
      　  <th>税抜価格</th>
      　  <th></th>
          <th><%= @item.price %></th>
        </tr>
      </thead>
    </table> 
    
    <table>
      <thead>
        <tr>
      　  <th>販売ステータス</th>
      　  <th></th>
          <th>
              <% if @item.is_active == true %>
               販売中　
              <% else %>
               販売中止
              <% end %>
          </th>
        </tr>
      </thead>
    </table> 
    
    <table>
      <thead>
        <tr> 
    　　<th>　<%= link_to '商品編集', edit_admins_item_path(@item)  %></th>
    　   </tr>
    　</thead>
    </table>                           
   </div>
  </div>
</div>
