<div class="container">
  <div class="row">
    <div class="col"><mark>ショッピングカート</mark><span class=""><%= link_to "カートを空にする", destroy_all_path, class: "btn btn-danger" %></span></div>
  </div>
  <table class="table">
    <thead>
      <tr align="left">
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @sum = 0 %>
      <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, :fill, 60, 50, fallback: "no_image.jpg"%><%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price * 1.1).floor %></td>
            <td>
              <%= form_with model:cart_item, url:cart_item_path(cart_item.id), method: :patch , local: true do |f| %>
                <%= f.number_field :amount, class: "amount", size: 10, min: 1 %>
                <%= f.submit "変更", class: "btn btn-success" %>
              <% end %>
            </td>
            <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
            <td><%= link_to '削除する', cart_item_path(cart_item.id), class: "btn btn-danger" %></td>
          </tr>
      <% @sum += (cart_item.item.price * 1.1).floor * cart_item.amount %>
      <% end %>
    </tbody>
  </table>
  <div class="col-xs-9 margin-bottom">
    <div class ="action">
      <%= link_to " 買い物を続ける", items_path, class: "btn btn-info" %>
    </div>
  </div>
  <div class="col-xs-3 pull-right billing">
    <table class="text-right">
      <thead>
        <tr>
          <td>合計金額</td>
          <td><%= @sum %></td>
        </tr>
      </thead>
    </table>
  </div>
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to " 情報入力に進む", new_order_path, class: "btn btn-success center-block" %>
  </div>
</div>