<div class="admin-orders">
<h1>注文履歴一覧</h1>
  <table class="admin">
      <thead>
       <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @customers.each do |customer| %>
       <tr>
        <td><%= customer.id %></td>
        <td><%= link_to admins_customer_path(customer.id) do %>
        <%= customer.last_name %>
        <%= customer.first_name %>
        <% end %>
        </td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted %></td>
       </tr>
       <% end %>
       <%= paginate @customers %>
      </tbody>
  </table>
</div>
