<div class="container">
<h1 class="p-3 md-2 bg-light text-dark">注文履歴一覧</h1>
  <table class="table">
      <thead>
       <tr>
        <th>注文日</th></th>
        <th>配送先</th>
        <th>注文</th>
        <th>ステータス</th>
       </tr>
      </thead>
      <tbody>
       <% @orders.each do |order| %>
       <tr>
        <td>
         <%= link_to admins_order_path(order.id) do %>
         <%= order.created_at %>
         <% end %>
        </td>
        <td>
        <%= order.customer.postal_code %>
        <%= order.customer.address %>
        <%= order.customer.last_name %>
        <%= order.customer.first_name %>
        </td>
        <td><%= order.order_details.count %></td>
        <td><%= order.order_status %></td>
       </tr>
       <% end %>
       <%= paginate (@orders) %>
      </tbody>
  </table>
</div>