<h1>注文履歴詳細</h1>
<table class="table">
    <tbody>
    <tr>
     <th>購入者</th>
     <th>
         <%= link_to admins_customer_path(@customer.id) do %>
         <%= @customer.last_name %><%= @customer.first_name %>
         <% end %>
     </th>
    </tr>
    <tr>
     <th>注文日</th><th><%= @order.created_at %> %></th>
    </tr>
    <tr>
     <th>配送先</th><th><%= @order.address %></th>
    </tr>
    <tr>
     <th></th><th><%= @order.address_name %></th>
    </tr>
    <tr>
     <th>支払い方法</th><th><%= @order.payment %></th>
    </tr>
    <tr>
    <%= form_with(model:@order, url:admins_order_path, method: :patch, local: true) do |f| %>
     <th>注文ステータス</th>
     <th>
         <%= f.select :order_status, Order.order_statuses.keys.to_a, include_blank: true %>
         <%= f.submit '更新' %>
     </th>
    <% end %>
    </tr>
    </tbody>
</table>

<table class="items">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>制作ステータス</th>
       </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td>¥<%= (order_detail.price * 1.1).floor %></td>
        <td><%= order_detail.amount %></td>
        <% total_payment = (order_detail.price * 1.1).floor * order_detail.amount %>
        <td>¥<%= total_payment.to_s(:delimited) %></td>
        <%= form_with model: order_detail, url: admins_order_detail_path, method: :patch, local: true do |f| %>
            <td>
            <%= f.hidden_field :order_detail_id, :value => order_detail.id %>
            <%= f.select :production_status, OrderDetail.production_statuses.keys.to_a, include_blank: true %>
    		<%= f.submit '更新' %>
    		</td>
    	<% end %>
      </tr>
      <% end %>
    </tbody>
 </table>
 
 <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="bg-light">商品合計</td>
        
        <% @sum = 0 %>
　　　　<% @order_details.each do |order_detail| %>
        <% total_payment = (order_detail.price * 1.1) * order_detail.amount %>
        <% @sum += total_payment %>
        <% end %>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <td class="bg-light">配送料</td>
        <td><%= @order.postage.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td class="bg-light">ご請求額</td>
        <td><%= @order.total_payment.to_s(:delimited) %></td>
      </tr>
    </tbody>
 </table>
			           